/*
Description: Carte de visite de Plume du web
Version: 1.0
Author: Plume du Web
Author URI: 
*/

/* Paramètres généraux */

h1 {
	font-size: 30px;
	color: #00aba9;
}

h2 {
	font-size: 20px;
}

body {
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	color: #242424;
	background-color: #bcd7e9;
}

ul li {
	display: inline-block;
}

li {
	list-style-type: none;
}

/* Contenu */

.conteneur {
display: block;
width: 60%;
margin-right: auto;
margin-left: auto;  
}

.conteneur h1,h2,p{
text-align: center;
}

.logo {
    width: 150px;
    height: auto;
    margin-right: auto;
    margin-left: auto; 
}

.logo img{
	width: 100%;
}

.social{
display: block;
margin-right: auto;
margin-left: auto; 
width: 60%;
}